*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px 400px 200px 800px 250px;
    gap: 3rem;
}
.gOne{
    background-image: url(./images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 80vw;
    gap: 2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navBar ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.navBar ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}
.text{
    border: 1px solid hsl(0, 0%, 100%);
    width: 20vw;
}
.text p{
    padding: 1.4rem;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
}
.gTwo{
    width: 80vw;
    margin: 0 auto;
}
.gThree{
    width: 80vw;
    margin: 0 auto;
}
.gFour{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;
    width: 80vw;
    margin: 0 auto;
}